.card-ressource {

    width: 295px;
    height: 148px;
  
    background: #FFFFFF;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.16);
    border-left: 5px solid ;
    .card-item {
        margin-left: 23px;
        .card-text {
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            padding-block: 15px;
        }
        .card-year {
            font-weight: 400;
            font-size: 70px;
            line-height: 82px;
            position: relative;
            bottom: 70px;
            right: 5px;
        }
    }
    
}