.card {
    padding-top: 30px;
    width: 295px;
    height: 277px;
    background: #FFFFFF;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    text-align: center;

    .card-avatar {
        border-radius: 50%;
        width: 115px;
        height: 115px;
        
    }
    .card-title {

        font-weight: 400;
        font-size: 24px;
        line-height: 28px;

        color: #000000;
    }
}