.navbar {
    background: #FFFFFF;
    height: 60px;
    .nav-bar-list {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding-top: 15px;
        margin-right: 150px;
        .link {

            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            text-decoration: none;
            color: #000000;
            margin-right: 15px;

            .active {
                border-bottom: 5px solid #000;
                padding-bottom: 25px;
                width: 130px;
            }
        }
    }
}

@media only screen and (min-width: 768px)  and (max-width: 992px) {

    .nav-bar-list {
        position: relative;
        right: 85px;
        width: 100%;
        
    }
}

@media only screen and (min-width: 320px ) and (max-width: 767px){
    .nav-bar-list {
        position: relative;
        right: 30px;
        width: 100%;
        
    }
    
}