.page_not_found {

    width: 100%;
    .container {
        width: 50%;
        margin: auto;
    }
   
    .title {
        text-align: center;
        font-size: 128px;
        font-weight: 400;
        line-height: 150px;
        letter-spacing: 0em;
    
    }
    p {
        text-align: center;
        position: relative;
        bottom: 70px;
    }
    .link {
        
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;

        color: #248AE9;
    }
}

