.list-ressource {
    margin-top: 121px;
    width: 100%;
    //margin-left: 100px;
    .filter {
        width: 186px;
        height: 41px;
        position: absolute;
        right: 171px;
        top: 120px;;
        background: #FFFFFF;
        span {
            margin-left: 15px;
        }
        span,
        .select-filter {
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            margin-top: 10px;
        }
        .select-filter {
            border: none;
            margin-left: 40px;

            color: #505050;
        }
        .input {
            margin-top: 15px;
            width: 180px;
            height: 20px;
        }
    }
   
    .list-item-ressource {
        display: grid;
        grid-template-columns: auto auto auto auto;
        justify-content: center;
     
       
    }
    .list-item-card {
       margin: 20px;
    }
}
@media only screen and (min-width: 768px)  and (max-width: 992px) {
    .list-ressource  {
        margin-top: 100px !important;
        
        .list-item-ressource {
            grid-template-columns: repeat(2, 0fr) !important;

            
        }
        .list-item-card {
            margin: 10px !important;
        }
    }
    
}

@media only screen and (min-width: 320px ) and (max-width: 767px){
    .list-ressource {
        margin-top: 80px !important;
        .filter {
            right: 45px !important;
            top: 90px !important;
        }
        .list-item-ressource {
            grid-template-columns: repeat(1, 0fr) !important;

            
           
        }
        .list-item-card {
            margin: auto !important;
        }
    }
    
}