.ressource-detail {
    margin-top: 110px;
    margin-left: 100px;
    .back {
        display: flex;
        flex-direction: row;
        .img {
            width: 24px;
            height: 24px;
        }
        .text {
            margin-top: 5px;
            margin-left: 25px;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            color: #000000;
        }
    }
    .item {
        display: flex;
        flex-direction: row;
        margin-top: 27px;
        
        .name,
        .value,
        .year {
            margin-right: 25px;
            width: 295px;
            height: 78px;
            font-weight: 400;
            font-size: 24px;
            line-height: 28px;
            text-align: center;
            color: #FFFFFF;
           
            span {
  
                padding: 15px;
                position: relative;
                left: 0;
            
                top: 25px;
            }
        }
        .year , 
        .value {
            background-color: #050505 ;
        }
    }
}


@media only screen and (min-width: 320px ) and (max-width: 767px){
    .ressource-detail {
        margin-top: 20px !important;
        margin-left: auto;

        .item {
            flex-direction: column;
            margin-top: 5px;
            justify-content: center;
            flex-wrap: wrap;
            
            
        }    
    }
}