.list {
    margin-top: 121px;
    width: 100%;
   
    .list-item {
        display: grid;
        grid-template-columns: auto auto auto auto;
        justify-content: center;


       
    }
    .list-item-card {
        margin: 20px;
    }
}

@media only screen and (min-width: 768px)  and (max-width: 992px) {
    .list {
        margin-top: 100px !important;
    }
    .list-item {
        grid-template-columns: repeat(2, 0fr) !important;
       
    }
    .list-item-card {
        margin: 10px !important;
    }
}

@media only screen and (min-width: 320px ) and (max-width: 767px){
    .list {
        margin-top: 50px !important;
    }
    .list-item {
        grid-template-columns: repeat(1, 0fr) !important;
    }
    .list-item-card {
        margin: 5px !important;
    }
}