.user-detail {
    position: absolute;
    left: 660px;
    top: 361px;
}

@media only screen and (min-width: 768px)  and (max-width: 992px) {

    .user-detail {
 
        left: 245px;
        top: 361px;
    }
}

@media only screen and (min-width: 320px ) and (max-width: 767px){
    .user-detail {
        left: 40px;
        top: 85px;
    }
}